
<%= render partial: "layouts/header"%>
<div class="text-center container">
  <h1 class="h3 mb-3 font-weight-normal">新規登録</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <div class="form-group mx-auto" style="width: 840px;">
    <div class="field">
      <%= f.label :ニックネーム %><br />
      <%= f.text_field :nickname, autofocus: true, autocomplete: "nickname", class:"form-control" %>
    </div>
    
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autocomplete: "email", class:"form-control" %> 
    </div>

    <% if @sns_id.present? %>
      <%= hidden_field_tag :sns_auth, true %>
    <% else %>
      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class:"form-control" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control" %>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :勤務地 %><br />
      <%= f.collection_select(:location_id, Location.all, :id, :name, {}, {class:"form-control"}) %>
    </div>

    <div class="field">
      <%= f.label :診療科 %><br />
      <%= f.collection_select(:department_id, Department.all, :id, :name, {}, {class:"form-control"}) %>
    </div>

    <div class="field">
      <%= f.label :病床数 %><br />
      <%= f.text_field :bed, autocomplete: "bed", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :勤続年数 %><br />
      <%= f.text_field :service_years, autocomplete: "service_years", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :資格 %><br />
      <%= f.text_field :license, autocomplete: "license", class:"form-control" %>
    </div>

    <div class="field">
      <%= f.label :会社名 %><br />
      <%= f.text_field :company, autofocus: true, autocomplete: "company", class:"form-control" %>
    </div>
    <br/>
    <div class="actions">
      <%= f.submit "登録", class:"btn btn-primary btn-lg btn-block" %>
    </div>
  </div>
  <% end %>
</div>
