<%= render partial: "layouts/header"%>

<h2>愚痴投稿</h2>
<%= form_with model: @donkeyking, local: true do |f| %>
  <%= f.label :tweet %>
  <%= f.text_field :tweet, class:"form-control"%>
  <%= f.submit "吐き出し", class:"btn btn-warning"%>
<% end %>

<% @donkeykings.reverse_each do |donkeyking|%>
  <% if donkeyking.deleted_at > Time.now %>
    <%= donkeyking.tweet %>
  <% end %>
<% end %>