<%= form_with model: @article, local: true do |f| %>
  <div class="container">
    <div class="form-group mx-auto" style="width: 840px;">
      <div>
        <h3><%= f.label :タイトル %></h3>
        <%= f.text_field :title, autofocus: true, autocomplete: "title", class:"form-control" %>
      </div>
      <div>
        <h3><%= f.label :内容 %></h3>
        <%= f.rich_text_area :content, autocomplete: "content", class: "field" %>
      </div>
      <div>
        <h3><%= f.label :カテゴリー %></h3>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control"}) %>
      </div>

      <div>
        <h3><%= f.label :動画 %></h3>
        <%= f.file_field :move %>
      </div>
      <div>
        <%= f.submit :投稿 %>
      </div>
    </div>
  </div>
<% end %>

  <%= link_to "トピックス一覧へ戻る", articles_path %>
