<%= form_with model: @article, local: true do |f| %>
<%= render 'shares/error_messages', model: f.object %>
  <div class="container">
    <div class="form-group mx-auto" style="width: 840px;">
      <div>
        <h3><%= f.label :title %></h3>
        <%= f.text_field :title, autofocus: true, autocomplete: "title", class:"form-control" %>
      </div>
      <div>
        <h3><%= f.label :content %></h3>
        <%= f.text_area :content, autocomplete: "content", class:"form-control", style:"height: 500px;" %>
      </div>
      <div>
        <h3><%= f.label :category %></h3>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control"}) %>
      </div>

      <div>
        <h3><%= f.label :image %></h3>
        <div class="input-tag">
          <%= f.file_field :images , name: 'article[images][]', multiple: true, id: 'example' %>
        </div>
        <div id= "a_preview"></div>
        <div class="pre-list" id='images_pho'>
          <% @article.images.each do |image| %>
            <div class="image_pho">
              <%= image_tag(image, class:"rounded mx-auto d-block img-fluid", width:"300px")  %>
              <%= link_to "削除", purge_article_url(image), method: :delete, remote: true, class: "purge_btn" %>
            </div>
          <% end %>
        </div>
      </div>

      <div>
        <h3><%= f.label :move %></h3>
        <%= f.file_field :move %>
      </div>
      <div>
        <%= f.submit :投稿 %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "トピックス一覧へ戻る", articles_path %>