<h1>情報コーナー</h1>
<div>
  <%= link_to "新規投稿", new_article_path %>
  <%= link_to "戻る", root_path %>
</div>
<div>
  <% @articles.each do |article| %>
  <%= article.user.nickname %>
  <%= link_to article.title, article_path(article.id) %>
  <%= article.content %>
  <div class="article-image">
    <% article.images.each do |image| %>
      <%= image_tag image %>
    <% end %>
  </div>
  <% end %>
</div>