<div class="d-block justify-content-center">
  <div class="container">
    <div class="card mb-3">
      <div class="card-img-top">
        <% @article.images.each do |image| %>
          <div class="site-image">
            <%= image_tag(image, class:"rounded mx-auto d-block img-fluid", width:"100%") %> 
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <h3 class="name"><%= @article.user.nickname %></h3>
        <h1 class="card-title"><%= @article.title %></h1>
        <div class="card-text"><%= @article.content %></div>
      </div>

      <% if @article.move.present? %>
        <video src="<%= rails_blob_path(@article.move) %>" type="video/mp4" class="move rounded mx-auto d-block img-fluid" width="100%" controls></video>
      <% end %>
    </div>

    <div id="likes_buttons_<%= @article.id %>">
      <%= render partial: 'article_likes/article_like', locals: { article: @article} %>
    </div>

    <div class="form-group">
      <%= form_with(model: [@article, @article_comment], local: true) do |f| %>
        <%= f.text_area :comment, placeholder: "コメントする", class:"form-control" %>
        <%= f.submit "コメントする" %>
      <% end %>
    </div>

    <div>
      <h4>＜コメント一覧＞</h4>
      <% if @article_comments%>
        <% @article_comments.each do |c|%>
          <p>
            <strong><%= link_to c.user.nickname, users_show_path(id: c.user_id) %>:</strong>
            <%= c.comment %>
          </p>
        <% end %>
      <% end %>
    </div>

    <% if current_user.id == @article.user_id %>
      <%= link_to "編集", edit_article_path(@article.id) %>
    <% end %>
    <%= link_to "トピックス一覧へ戻る", articles_path %>
  </div>
</div>
