<%= render partial: "layouts/header"%>

<div class="d-block justify-content-center">
  <div class="container">
    <div class="card mb-3">
      <div class="card-img-top">
        <% @consultations.images.each do |image| %>
          <div class="article-image">
            <%= image_tag(image, class:"rounded mx-auto d-block img-fluid", width:"100%") %> 
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <h3 class="name"><%= @consultation.user.nickname %></h3>
        <h1 class="card-title"><%= @consultation.title %></h1>
        <div class="card-text"><%= @consultation.content %></div>
      </div>

      <% if @article.move.present? %>
        <video src="<%= rails_blob_path(@consultation.move) %>" type="video/mp4" class="move rounded mx-auto d-block img-fluid" width="100%" controls></video>
      <% end %>
    </div>
  </div>
</div>