<div class="container">
  <h1><%= @user.nickname %>さんの投稿</h1>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    <%= @user.nickname %>さん詳細表示
  </button>

<!-- モーダルの設定 -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">詳細</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class=" table">
            <p>名前    : <%= @user.nickname %></p>
            <p>勤務地 　: <%= @user.location.name %></p>
            <p>診療科 　: <%= @user.department.name %></p>
            <p>規模　　 : <%= @user.bed %>床</p>
            <p>勤続年数 : <%= @user.service_years %>年</p>
            <p>資格　　 : <%= @user.license %></p>
            <p>会社　　 : <%= @user.company %></p>
          </div>
          <% if current_user.id == @user.id %>
            <%= link_to "編集", edit_user_registration_path(@user.id) %>
          <% end %>
          <% if @user.id != current_user.id %>
            <% if @chat_num != nil %>
              <% if @chats.find(@chat_num).users.ids.include?(@user.id) && @chats.find(@chat_num).users.ids.include?(current_user.id)%>
                <%= link_to "チャット", chat_path(@chats.ids), class:"btn btn-primary" %>
              <% else %>
                <%=form_with url: "/chats", method: :post, local: true do |f|%>
                  <div type="hidden">
                    <select name="chat[user_ids][]" type="hidden">
                        <option value=<%= @user.id %>></option>
                    </select>
                    <input name="chat[user_ids][]" type="hidden" value=<%= current_user.id %>>
                  </div>
                    <%= f.submit "チャット", class:"btn btn-primary" %>
                <% end %>
              <% end %>
            <% else %>
              <%=form_with url: "/chats", method: :post, local: true do |f|%>
                <div type="hidden">
                  <select name="chat[user_ids][]" type="hidden">
                      <option value=<%= @user.id %>></option>
                  </select>
                  <input name="chat[user_ids][]" type="hidden" value=<%= current_user.id %>>
                </div>
                  <%= f.submit "チャット", class:"btn btn-primary" %>
              <% end %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div >
  <div class="d-flex p-2 bd-highlight justify-content-around index-content">
    <% @user.articles.last(5).each do |article| %>
      <div class="row">
        <div class="col">
          <div class="card" style="width: 320px; height: 500px;">
            <div class="card-img-top">
              <% if article.images.count > 0%>
                <%= image_tag(article.images.first, class:"rounded mx-auto d-block img-fluid", width:"100%") %>
              <% end %>
            </div>
            <div class="card-body">
              <div class="name">投稿者：<%= article.user.nickname %></div>
              <h5 class="card-title"><%= article.title %></h5>
              <div class="card-text overflow-hidden"><%= article.content %></div>
              <%= link_to "この記事へ", article_path(article.id), class:"btn btn-primary" %>
            </div>
            <div class="card-footer bg-transparent border-success d-flex justify-content-around align-items-center">
              <span>いいね：<%= article.article_likes.count %></span>
              <p class=" mb-auto" style="font-size: 10px;">投稿日：<%= l article.created_at %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div>
  <div class="d-flex p-2 bd-highlight justify-content-around index-content">
    <% @user.consultations.last(5).each do |consultation| %>
      <div class="row">
        <div class="col">
          <div class="card" style="width: 320px; height: 500px;">
            <div class="card-img-top">
              <% if consultation.images.count > 0%>
                <%= image_tag(consultation.images.first, class:"rounded mx-auto d-block img-fluid", width:"100%") %>
              <% end %>
            </div>
            <div class="card-body">
              <div class="name">投稿者：<%= consultation.user.nickname %></div>
              <h5 class="card-title"><%= consultation.title %></h5>
              <div class="card-text overflow-hidden"><%= consultation.content %></div>
              <%= link_to "この相談へ", consultation_path(consultation.id), class:"btn btn-primary" %>
            </div>
            <div class="card-footer bg-transparent border-success">
              <% if consultation.consultation_fixes.present? %>
                <h2 class="ok">解決済み</h2>
                <% else %>
                <h2 class="ng">未解決</h2>
              <% end %>
              <p class=" mb-auto" style="font-size: 10px;">投稿日：<%= l consultation.created_at %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div >
  <div class="d-flex p-2 bd-highlight justify-content-around index-content">
    <% @user.promotions.last(5).each do |promotion| %>
      <div class="row">
        <div class="col">
          <div class="card" style="width: 320px; height: 500px;">
            <div class="card-img-top">
              <% if promotion.images.count > 0%>
                <%= image_tag(promotion.images.first, class:"rounded mx-auto d-block img-fluid", width:"100%") %>
              <% end %>
            </div>
            <div class="card-body">
              <div class="name">投稿者：<%= promotion.user.nickname %></div>
              <h5 class="card-title"><%= promotion.name %></h5>
              <div class="card-text overflow-hidden"><%= promotion.content %></div>
              <%= link_to "この商品へ", promotion_path(promotion.id), class:"btn btn-primary" %>
            </div>
            <div class="card-footer bg-transparent border-success d-flex justify-content-around align-items-center">
              <span>いいね：<%= promotion.promotion_likes.count %></span>
              <p class=" mb-auto" style="font-size: 10px;">投稿日：<%= l promotion.created_at %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


