<h1>
  検索結果
</h1>
<%# 検索結果の個数で条件分岐 %>
<h3><%= link_to "トピックス", articles_path %></h3>
<div class="item-line">
  <% if @article_items.length !=0 %>
    <% @article_items.each do |article| %>
      <div class="col">
        <div class="item" id="a_item_<%= article.id %>" >
          <div class="item-img" id="a_item-img_<%= article.id %>">
            <% if article.images.count > 0%>
              <%= image_tag(article.images.first, width:"100%") %>
            <% else %>
              <%= image_tag("m_e_others_501.png", class:"no-image", width:"100%") %>
            <% end %>
          </div>
          <div class="item-text" id="a_item-text_<%= article.id %>">
            <div class="item-main">
              <div class="name">投稿者：<%= article.user.nickname %></div>
              <h5 class="card-title"><%= article.title %></h5>
              <div class="mb-1">カテゴリー：<%= article.category.name %></div>
              <div class="card-text overflow-hidden"><%= article.content %></div>
              <%= link_to "この記事へ", article_path(article.id), class:"btn btn-primary" %>
            </div>
            <div class="item-footer bg-transparent border-success">
              <span>いいね：<%= article.article_likes.count %></span>
              <p class=" mb-auto" style="font-size: 10px;">投稿日：<%= l article.created_at %></p>
            </div>
          </div>
        </div>
      </div>

      <script>
        document.addEventListener('DOMContentLoaded', function() {
          $('#a_item_<%= article.id %>').on('mouseenter', function(e) {
          $('#a_item-img_<%= article.id %>').slideUp(1000);
          $('#a_item-text_<%= article.id %>').slideDown(1000);
          });
          $('#a_item_<%= article.id %>').on('mouseleave', function(e) {
          $('#a_item-img_<%= article.id %>').slideDown(1000);
          $('#a_item-text_<%= article.id %>').slideUp(1000);
          });
        })
      </script>
    <% end %>
  <% else %>
    該当するトピックスはありません
  <% end %>
</div>

<h3><%= link_to "相談", consultations_path %></h3>
<div class="item-line">
  <% if @consultation_items.length !=0 %>
    <% @consultation_items.each do |consultation| %>
      <div class="col">
        <div class="item" id="c_item_<%= consultation.id %>" >
          <div class="item-img" id="c_item-img_<%= consultation.id %>">
            <% if consultation.images.count > 0%>
              <%= image_tag(consultation.images.first, width:"100%") %>
            <% else %>
              <%= image_tag("m_e_others_501.png", class:"no-image", width:"100%") %>
            <% end %>
          </div>
          <div class="item-text" id="c_item-text_<%= consultation.id %>">
            <div class="item-main">
              <div class="name">投稿者：<%= consultation.user.nickname %></div>
              <h5 class="card-title"><%= consultation.title %></h5>
              <div class="mb-1">カテゴリー：<%= consultation.category.name %></div>
              <div class="card-text overflow-hidden"><%= consultation.content %></div>
              <%= link_to "この記事へ", consultation_path(consultation.id), class:"btn btn-primary" %>
            </div>
            <div class="item-footer bg-transparent border-success">
              <% if consultation.consultation_fixes.present? %>
                <h3 class="ok">解決済み</h3>
                <% else %>
                <h3 class="ng">未解決</h3>
              <% end %>
              <p class=" mb-auto" style="font-size: 10px;">投稿日：<%= l consultation.created_at %></p>
            </div>
          </div>
        </div>
      </div>

      <script>
        document.addEventListener('DOMContentLoaded', function() {
          $('#c_item_<%= consultation.id %>').on('mouseenter', function(e) {
          $('#c_item-img_<%= consultation.id %>').slideUp(1000);
          $('#c_item-text_<%= consultation.id %>').slideDown(1000);
          });
          $('#c_item_<%= consultation.id %>').on('mouseleave', function(e) {
          $('#c_item-img_<%= consultation.id %>').slideDown(1000);
          $('#c_item-text_<%= consultation.id %>').slideUp(1000);
          });
        })
      </script>
    <% end %>
  <% else %>
    該当する相談はありません
  <% end %>
</div>

<h3><%= link_to "商品", promotions_path %></h3>
<div class="item-line">
  <% if @promotion_items.length !=0 %>
    <% @promotion_items.each do |promotion| %>
      <div class="col">
        <div class="item" id="a_item_<%= promotion.id %>" >
          <div class="item-img" id="a_item-img_<%= promotion.id %>">
            <% if promotion.images.count > 0%>
              <%= image_tag(promotion.images.first, width:"100%") %>
            <% else %>
              <%= image_tag("m_e_others_501.png", class:"no-image", width:"100%") %>
            <% end %>
          </div>
          <div class="item-text" id="a_item-text_<%= promotion.id %>">
            <div class="item-main">
              <div class="name">投稿者：<%= promotion.user.nickname %></div>
              <h5 class="card-title"><%= promotion.name %></h5>
              <div class="mb-1">カテゴリー：<%= promotion.category.name %></div>
              <div class="card-text overflow-hidden"><%= promotion.content %></div>
              <%= link_to "この記事へ", promotion_path(promotion.id), class:"btn btn-primary" %>
            </div>
            <div class="item-footer bg-transparent border-success">
              <span>いいね：<%= promotion.promotion_likes.count %></span>
              <p class=" mb-auto" style="font-size: 10px;">投稿日：<%= l promotion.created_at %></p>
            </div>
          </div>
        </div>
      </div>

      <script>
        document.addEventListener('DOMContentLoaded', function() {
          $('#a_item_<%= promotion.id %>').on('mouseenter', function(e) {
          $('#a_item-img_<%= promotion.id %>').slideUp(1000);
          $('#a_item-text_<%= promotion.id %>').slideDown(1000);
          });
          $('#a_item_<%= promotion.id %>').on('mouseleave', function(e) {
          $('#a_item-img_<%= promotion.id %>').slideDown(1000);
          $('#a_item-text_<%= promotion.id %>').slideUp(1000);
          });
        })
      </script>
    <% end %>
  <% else %>
    該当する商品はありません
  <% end %>
</div>
<%= link_to 'トップページへ戻る', root_path %>