<% if user_signed_in? %>
  <main role="main" class="inner cover main_width">
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag("gahag-0073006625-1.png", class:"top-img d-block w-100", style:"height: 400px")%>
    </div>
    <div class="carousel-item">
      <%= image_tag("1675107_m.png", class:"top-img d-block w-100", style:"height: 400px")%>
    </div>
    <div class="carousel-item">
      <%= image_tag("gahag-0046685838-1.png", class:"top-img d-block w-100", style:"height: 400px")%>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">前へ</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">次へ</span>
  </a>
</div>
    <div >
      <h3><%= link_to "最新トピックス", articles_path %></h3>
      <div class="d-flex p-2 bd-highlight justify-content-around index-content">
        <% @articles.each do |article| %>
          <div class="row">
            <div class="col">
              <div class="card" style="width: 320px; height: 500px;">
                <div class="card-img-top">
                  <% if article.images.count > 0%>
                    <%= image_tag(article.images.first, class:"rounded mx-auto d-block img-fluid", width:"100%") %>
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="name">投稿者：<%= article.user.nickname %></div>
                  <h5 class="card-title"><%= article.title %></h5>
                  <div class="card-text overflow-hidden"><%= article.content %></div>
                  <%= link_to "この記事へ", article_path(article.id), class:"btn btn-primary" %>
                </div>
                <div class="card-footer bg-transparent border-success d-flex justify-content-around align-items-center">
                  <span>いいね：<%= article.article_likes.count %></span>
                  <p class=" mb-auto" style="font-size: 10px;">投稿日：<%= l article.created_at %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div>
      <h3><%= link_to "最新の相談", consultations_path %></h3>
      <div class="d-flex p-2 bd-highlight justify-content-around index-content">
        <% @consultations.each do |consultation| %>
          <div class="row">
            <div class="col">
              <div class="card" style="width: 320px; height: 500px;">
                <div class="card-img-top">
                  <% if consultation.images.count > 0%>
                    <%= image_tag(consultation.images.first, class:"rounded mx-auto d-block img-fluid", width:"100%") %>
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="name">投稿者：<%= consultation.user.nickname %></div>
                  <h5 class="card-title"><%= consultation.title %></h5>
                  <div class="card-text overflow-hidden"><%= consultation.content %></div>
                  <%= link_to "この相談へ", consultation_path(consultation.id), class:"btn btn-primary" %>
                </div>
                <div class="card-footer bg-transparent border-success">
                  <% if consultation.consultation_fixes.present? %>
                    <h2 class="ok">解決済み</h2>
                    <% else %>
                    <h2 class="ng">未解決</h2>
                  <% end %>
                  <p class=" mb-auto" style="font-size: 10px;">投稿日：<%= l consultation.created_at %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div >
      <h3><%= link_to "新商品", promotions_path %></h3>
      <div class="d-flex p-2 bd-highlight justify-content-around index-content">
        <% @promotions.each do |promotion| %>
          <div class="row">
            <div class="col">
              <div class="card" style="width: 320px; height: 500px;">
                <div class="card-img-top">
                  <% if promotion.images.count > 0%>
                    <%= image_tag(promotion.images.first, class:"rounded mx-auto d-block img-fluid", width:"100%") %>
                  <% end %>
                </div>
                <div class="card-body">
                  <div class="name">投稿者：<%= promotion.user.nickname %></div>
                  <h5 class="card-title"><%= promotion.name %></h5>
                  <div class="card-text overflow-hidden"><%= promotion.content %></div>
                  <%= link_to "この商品へ", promotion_path(promotion.id), class:"btn btn-primary" %>
                </div>
                <div class="card-footer bg-transparent border-success d-flex justify-content-around align-items-center">
                  <span>いいね：<%= promotion.promotion_likes.count %></span>
                  <p class=" mb-auto" style="font-size: 10px;">投稿日：<%= l promotion.created_at %></p>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

<% else %>
    <div class="card">
      <%= image_tag("gahag-0041371722-1.png", class:"card-img", style:"width: 100%;")%>
      <div class="card-img-overlay ">
        <div class="i card-title align-items-center">全ての医療に<br/>携わる方へ</div>
      </div>
    </div>
  </main>
<% end %>