<div class="chat-side">
  <% @chats.each do |chat| %>
    <% if chat.users.ids.include?(current_user.id) %>
      <%= link_to chat.users.where.not(nickname: current_user.nickname).pluck(:nickname).join(", "), chat_path(chat.id), class:"user-btn" %>
    <% end %>
  <% end %>
  <div class="user-select">
    <%=form_with model: @chat, local: true do |f|%>
      <select name="chat[user_ids][]" class="chat_user">
        <% User.where.not(id: current_user.id).each do |user| %>
          <option value=<%= user.id %>><%= user.nickname %></option>
        <% end %>
      </select>
      <input name="chat[user_ids][]" type="hidden" value=<%= current_user.id %>>
      <%= f.submit "チャット開始", class:"btn btn-primary" %>
    <% end %>
  </div>
</div>