
<% @current_chats.each do |chat| %>
  <%= link_to chat.user.nickname, chat_path(chat.id), class:"btn btn-primary" %>
<% end %>


<%=form_with model: @chat, local: true do |f|%>
  <select name="chat[user_ids][]">
    <% User.where.not(id: current_user.id).each do |user| %>
      <option value=<%= user.id %>><%= user.nickname %></option>
    <% end %>
  </select>
  <input name="chat[user_ids][]" type="hidden" value=<%= current_user.id %>>
  <%= f.submit "チャット", class:"btn btn-primary" %>
<% end %>