<div class="col-md-8 col-xl-6 chat">
  <div class="chat-room">
    <div class="card-header chat-header">
      <%= form_with(model: [@chat, @chat_message], local: true) do |f| %>
        <%= f.text_field :message, id:"content", class:"form-control type_msg"%>
        <%= f.submit '送る', class:"btn btn-primary" %>
      <% end %>
    </div>
    <div class="chat-space card-body msg_card_body h-100">
      <% @chat_messages.reverse_each do |message| %>
        <% if message.user.id == current_user.id %> 
        <div>
          <div class="d-flex justify-content-end mb-4">
            <div class="msg_container_right" style="max-width:75%;">
              <p><%= message.message %></p>
              <p class="msg_time_send">
                <%= message.user.nickname %>:
                <%= l message.created_at %>
              </p>
            </div>
          </div>
        </div>
        <% end %>
      <% end %>
      <% @chat_messages.reverse_each do |message| %>
        <% if message.user.id != current_user.id %> 
        <div>
          <div class="d-flex justify-content-start mb-4">
            <div class="msg_container_left" style="max-width:75%;">
              <p><%= message.message %></p>
              <p class="msg_time_send">
                <%= message.user.nickname %>:
                <%= l message.created_at %>
              </p>
            </div>
          </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>