<%= form_with model: @promotion, local: true do |f| %>
  <div class="container">
    <div class="form-group mx-auto" style="width: 840px;">
      <div>
        <h3><%= f.label :商品名 %></h3>
        <%= f.text_field :name, autofocus: true, autocomplete: "title", class:"form-control" %>
      </div>
      <div>
        <h3><%= f.label :詳細 %></h3>
        <%= f.text_area :content, autocomplete: "content", class:"form-control", style:"height: 500px;" %>
      </div>
      <div>
        <h3><%= f.label :カテゴリー %></h3>
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-control"}) %>
      </div>

      <div>
        <h3><%= f.label :画像 %></h3>
        <div class="input-tag">
          <%= f.file_field :images , name: 'promotion[images][]', multiple: true, id: 'example' %>
        </div>
        <div id= "p_preview"></div>
        <div class="pre-list" id='images_pho'>
          <% @promotion.images.each do |image| %>
            <div class="image_pho">
              <%= image_tag(image, class:"rounded mx-auto d-block img-fluid", width:"300px")  %>
              <%= link_to "削除", purge_promotion_url(image), method: :delete, remote: true, class: "purge_btn" %>
            </div>
          <% end %>
        </div>
      </div>
      
      <div>
        <h3><%= f.label :動画 %></h3>
        <%= f.file_field :move %>
      <div>
        <%= f.submit :投稿 %>
      </div>
    </div>
  </div>
<% end %>

<%= link_to "商品一覧へ戻る", promotions_path %>
