<h1>新商品</h1>
<div class="purchase-btn">
  <%= link_to "新規投稿", new_promotion_path, style:"color: white;" %>
  <%= image_tag "article_icon.png", class:"article_icon" %>
</div>

<div class="d-flex p-2 bd-highlight justify-content-center ">
  <div class="card-deck">
    <div class="row ">
      <% @promotions.each do |promotion| %>
        <div class="col">
          <div class="card mb-5" style="width: 320px; height: 500px;">
            <div class="card-img-top">
              <% if promotion.images.count > 0%>
                <%= image_tag(promotion.images.first, class:"rounded mx-auto d-block img-fluid", width:"100%") %>
              <% end %>
            </div>
            <div class="card-body">
              <div class="name">投稿者：<%= promotion.user.nickname %></div>
              <h5 class="card-title"><%= promotion.name %></h5>
              <div class="mb-1">カテゴリー：<%= promotion.category.name %></div>
              <div class="card-text overflow-hidden"><%= promotion.content %></div>
              <%= link_to "この商品へ", promotion_path(promotion.id), class:"btn btn-primary" %>
            </div>
            <div class="card-footer bg-transparent border-success d-flex justify-content-around align-items-center">
              <span>いいね：<%= promotion.promotion_likes.count %></span>
              <p class=" mb-auto" style="font-size: 10px;">投稿日：<%= l promotion.created_at %></p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>