<header class="masthead mb-auto">
      <div class="inner">
        <h1 class="masthead-brand"><%= link_to "Incentmation", root_path %></h1>
        <nav class="nav nav-masthead justify-content-center">
          <% unless user_signed_in? %>
            <%= link_to "新規登録", new_user_path, class:"nav-link active" %>
            <%= link_to "ログイン", new_user_session_path, class:"nav-link" %>
          <% end %>
          <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link" %>
            <%= link_to "トピックス", articles_path, class:"nav-link" %>
            <%= link_to "相談コーナー", consultations_path, class:"nav-link" %>
            <%= link_to "製品紹介", promotions_path, class:"nav-link" %>
          <% end %>
        </nav>
      </div>
  </header>