<header>
  <div class="inner">
    <div class="header-title">
      <h1><%= link_to "Incentmation", root_path %></h1>
    </div>
    <% if user_signed_in? %>
      <div class="search">
        <%= form_with(url: search_home_index_path, local: true, method: :get) do |f| %>
          <%= f.text_field :keyword, placeolder: "キーワードを入力", class:"search_field" %>
          <%= f.submit "検索", class: "bottom" %>
        <% end %>
      </div>
      <div>
        
        <ul class="user-menu">
          <li>
            <%# <%= image_tag(current_user.image, alt:"user-icon.png", class:"user-image") %> %>
            <ul class="container">
              <li><%= link_to "編集", users_show_path(id: current_user.id)%></li>
              <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link" %></li>
            </ul>
          </li>
        </ul>
      </div>
    <% end %>
  </div>
</header>