<header class="masthead mb-auto">
  <div class="inner">
    <h1 class="masthead-brand"><%= link_to "Incentmation", root_path %></h1>
    
    <div>
      <%= form_with(url: search_home_index_path, local: true, method: :get) do |f| %>
        <%= f.text_field :keyword, placeolder: "検索する" %>
        <%= f.submit "検索", class: "bottom" %>
      <% end %>
    </div>
    
    <div>
      <%= current_user.nickname %>
    </div>
  </div>
    
</header>