<nav class="nav nav-masthead justify-content-center">
  <% unless user_signed_in? %>
    <a type="button" class="nav-link" data-toggle="modal" data-target="#modal1">
      新規登録
    </a>
    <%= link_to "ログイン", new_user_session_path, class:"nav-link" %>
  <% else %>
    <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"nav-link" %>
    <%= link_to "トピックス", articles_path, class:"nav-link" %>
    <%= link_to "相談コーナー", consultations_path, class:"nav-link" %>
    <%= link_to "製品紹介", promotions_path, class:"nav-link" %>
    <%= link_to "チャット", new_chat_path, class:"nav-link" %>
    <%= link_to "愚痴", new_donkeyking_path, class:"nav-link" %>
<% end %>
</nav>
<div>
  <%= link_to "滅菌", category_path(2) %>
  <%= link_to "洗浄", category_path(3) %>
  <%= link_to "包装", category_path(4) %>
  <%= link_to "乾燥", category_path(5) %>
  <%= link_to "組み立て", category_path(6) %>
  <%= link_to "保管", category_path(7) %>
  <%= link_to "その他", category_path(8) %>
</div>