<!DOCTYPE html>
<html>
  <head>
    <title>Incentmation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    
  </head>

  <body>
    <div>
      <%= render partial: "layouts/header"%>
      <div class="top-header"></div>
    </div>
    <div class="cent">
      <div class="side-ber">
      </div>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
